.Carnet {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carnet-titre {
    margin: 2rem;
    font-size: 1.3em;
}

.carnet-rdv {
    height: 30rem;
    width: fit-content;
    padding: 3rem;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.4) inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.carnet-rdv div {
    flex: wrap 1 1 100%;
}

.carnet-rdv p, .carnet-rdv span {
    display: flex;
    align-items: center;
    height: 3rem;
    font-size: 1.3em;
    padding: 1rem 2rem;
}

.carnet-rdv p:nth-child(2n) {
    background-color: rgb(243, 243, 243);
    width: 100%;
}

.carnet-rdv p:nth-child(2n-1) {
    background-color: rgb(232, 232, 232);
    width: 100%;
}