header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

header > * {
  width: 10rem;
}

.dropdown-menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem 1rem;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  background-color: var(--green);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
}

.dropdown-menu svg {
  color: #fff;
  height: 100%;
}

.dropdown-all a {
  color: #fff;
  text-decoration: underline solid 2px;
}

.dropdown-menu.closed svg {
  animation: arrow 1.4s infinite ease-in-out;
}

.dropdown.closed {
  animation: scale-disappear 1s ease-in-out forwards;
}

@keyframes arrow {
  from {
    opacity: 0;
    transform: scale(1) translateY(-5px);
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(0.7) translateY(5px);
  }
}

.dropdown-all {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: rgba(0, 173, 37, 0.7);
  display: flex;
  top: 50%;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  gap: .5rem;
  border-radius: 0 0 20px 20px;
  padding: 2rem .7rem .7rem .7rem;
  font-size: 1.2em;
  font-weight: 450;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
  transform: scale(0);
}

.dropdown.closed {
  transform-origin: top center;
  animation: scale-disappear .5s ease-in-out forwards;
}

.dropdown.open {
  transform-origin: top center;
  animation: scale-appear .5s ease-in-out forwards;
}

@keyframes scale-appear {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes scale-disappear {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }

  20% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

.logo-border {
  background-color: var(--green);
  border-radius: 0 0 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 5rem;
  padding: .7rem;
  align-self: flex-start;
}

.logo {
  height: 100%;
}

.login {
  display: block;
  color: var(--green);
  font-weight: 500;
  text-underline-offset: 3px;
  text-decoration: underline 2px;
  width: 10rem;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.logged {
  font-size: 1.3em;
}

.username {
  color: var(--green);
  font-weight: 400;
  font-size: 1.4em;
}